@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #0E1014;
    color: #FFFFFF;
}
h1 span {
    color: #9747FF;
}
a {
    color: #ffffff;
}
h1 {
    font-size: 56px;
    font-family: "Poppins";
    text-align: center;
    margin-top: 60px;
    line-height: 1.15;
}
p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 24px auto 0;
    max-width: 792px;
    line-height: 1.6;
}
a {
     color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-decoration: none;
    background-color: #9747FF;
    width: 280px;
    height: 56px;
    display: block;
    text-align: center;
    line-height: 56px;
    border-radius: 28px;
    margin: 40px auto;
}
a:hover {
    background-color: #8233E8;
}
section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}
header img {
    display: block;
    margin: 40px 0 0 10px;
}
@media(max-width: 768px){

    header img{
        margin: 65px 0 0 60px;
    }
    p{
        max-width: 648px;
    }
}

@media(max-width: 375px){
    header img{
        margin: 32px 0 0 16px;
    }
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
        width: 340px;
    }
    a{
        font-size: 20px;
        width: 251px;
    }
    section img{
        width: 340px;
        height: 230px;
    }
}